    section#projects {
        overflow: hidden;
        min-height: 70vh !important;
    }

    .my-work-gallery {
        height: 310px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }


    
    .carousel {
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    
    .carousel-track {
        display: flex;
        width: calc(450px * 8);
        gap: 20px;
    }

    .slide-sec {
        min-width: 500px;
        height: 300px;
        /* border: 1px solid; */
        overflow: hidden;
        border-radius: 10px;
        flex-shrink: 0;
        cursor: pointer;
    
    } 


    .slide-sec img{
        width: 500px;
        height: 300px;
    }

.l2r{
    animation: scroll-l2r 25s linear infinite;
}

.r2l{
    animation: scroll-r2l 15s linear infinite;
    
}
    

.carousel-track img {
    cursor: pointer;
}

@keyframes scroll-l2r {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}


@keyframes scroll-r2l {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}


.paused {
    animation-play-state: paused;
}

/* Modal Styles */
/* Modal Styles */
.modal {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: -1;
    padding: 50px;
}

.modal.open {
    opacity: 1;
    transform: scale(1);
    z-index: 1000;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-content {
    position: relative;
    max-width: 100%;
    max-height: 90%;
    display: flex;
    gap: 20px;
}

.modal-content img {
    width: auto;
    height: auto;
    max-width: 70%;
    max-height: 90vh;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}


.model-desc {
    min-width: 300px;
    max-height: 90vh;
    background: #E0E0E0;
    border-radius: 10px;
    color: #000;
    padding: 15px;
}

.model-desc h3 {
    font-weight: bold;
    text-align: left;
    font-size: 20px;
}

.model-desc p {
    text-align: left;
}

.proj-desc {
    height: 90%;
}

.view-prj-btn {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #cdcdcd;
    background-color: var(--primary-color-blue);
    color: var(--text-color);
    border-radius: 5px;
}


@media (max-width: 480px) {
    
    .modal-content{
        flex-direction: column;
        max-height: 100% !important;
        height: 100%;
    }

    .modal-content img{
        max-width: 100%; 
    }

    .modal{
        padding: 30px;
    }

    #imageModal {
        align-items: flex-start;
        padding-top: 60px;
    }

    .model-desc{
        height: 100%;
    }


    
    
}


