/* src/styles/variables.css */
:root {
    --primary-color: #1e2f97; /* Blue */
    --secondary-color: #f0f0f0; /* Light Gray */
    --text-color: #333; /* Dark Gray */
  }
  
  [data-theme='dark'] {
    --primary-color: #111; /* Dark background */
    --secondary-color: #333; /* Dark gray */
    --text-color: #fff; /* White text */
  }
  
  [data-theme='blue'] {
    --primary-color: #1e2f97; /* Blue */
    --secondary-color: #f0f0f0; /* Light Gray */
    --text-color: #333; /* Dark Gray */
  }
  
  [data-theme='light'] {
    --primary-color: #efefef; /* Blue */
    --secondary-color: #f0f0f0; /* Light Gray */
    --text-color: #333; /* Dark Gray */
  }
  